/* SECCIÓN DE INDEX (INICIO) */

/* Modificaciones al H1 (título), colorcitos jeje */

.h1container h1 {
    color: rgb(0, 0, 0); /* Cambia el color a tu elección */
    -webkit-text-stroke: 1px black;
    height: 20px ;
    position: relative;
    animation: slideInLeft 0.8s forwards;
    left: -100px;
    margin-bottom: 900px;
}

#jojo-title {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px purple, 0 0 20px rgb(189, 43, 177), 0 0 30px rgb(255, 0, 85);
    -webkit-text-stroke: 0px;

}

.container.index {
    padding-top: 100px;
    max-width: 100%;
    display: flex;

}

.container img[src="HeavensDoor.png"] {
    overflow: hidden;
    max-width: 200%; /* Cambiado a "max-width: 100%" para ajustarse al contenedor */
    width: 130%; /* Cambiado a "width: auto" para mantener la proporción original */
    padding: 0px 30px 0px 80px;
    bottom: 600px;

    left: -100%;
    height: auto;
    position: relative;
    animation: slideInLeft 1s forwards;
    animation-delay: 1s;
    
}

.container h2 {
    font-size: 80px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    max-width: 50px;
    font-family: 'Aoboshi One', serif;
    height: 70px;
    position: relative;
    
}

.container .introduccion {
    margin-bottom: 400px;
}
.container .introduccion h2 {
    right: -1000px;
    padding: 0px 0px 0px 30px;
    animation: slideInRight 1s forwards;
    color: rgb(219, 219, 2);
    animation-delay: 1.2s;
    margin-top: 100px;
}
.container p {
    padding-top: -30px;
    color: black;
    font-family: 'Cairo', sans-serif;
    position: relative;
    font-size: 38px;
}

.container .introduccion p {
    padding-top: 50px;
    animation: slideInRight 1s forwards;
    right: -1200px;
    animation-delay: 1.5s;
}


.container img[src="KiraYoshikage.png"] {
    
    float: right;
    object-position: right;
    align-items: right;
    margin-left: 200px;
    height: 500px;
    width: 500px;
}

.container .proposito .texto {
    flex: 1;
    text-align: left;
    left: 4000px;
}



/* MODIFICACIÓN IMÁGEN DE KIRA Y PARTE PROPOSITO */


.subdivision {
    display: flex;
}
